<%= form_with model: game do |f| %>
  <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
    <div class="space-y-4">
      <h1 class="text-center text-2xl font-semibold text-gray-600"><%= header %></h1>
      <div>
        <label for="email" class="block mb-1 text-gray-600 font-semibold">Name</label>
        <%= f.text_field :title, class: "bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" %>
      </div>
      <div>
        <label for="email" class="block mb-1 text-gray-600 font-semibold">Password</label>
        <%= f.text_field :password, class: "bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" %>
      </div>
    </div>
    <%= f.submit 'Save', class: "mt-4 w-full bg-gradient-to-tr from-blue-600 to-indigo-600 text-indigo-100 py-2 rounded-md text-lg tracking-wide" %>
  </div>
<% end %>
